---
title: Contribute.md - make your open source project awesome
---

  <div id="main">
    <div id="content">
      
      <section>
        
        <!--New styles! --> 
        
        <h2>Used in</h2>
          <p>

            <a href="https://gist.github.com/8396e2f66063bf1ca48c">Bundler</a>
          </p>
        
        <p>
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="" data-text="" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe style="height:35px; float:left; width: 380px; border:0; overflow:hidden;" src="" scrolling="no" frameborder="0" style="" allowTransparency="true"></iframe>
        </p>
      </section>

      <section>
        <h2>What is Contribute.md</h2>
        <p>
          <strong><em>All help is welcome</strong></em><br />
          For many beginners the world of open source is complicated and scary. However making new features isn’t the only way you can 
          contribute to an open source project. Contribute.md makes it easier to find ways to help     
        </p>

        <p>
          <strong><em>Simple and straightforward</strong></em><br/> 
          Contribute.md is a way to give everyone the tools to help in their favorite open source project, whether they are technical or not. 
          It makes contributing friendly, simple and straightforward by providing a template maintainers can fill to help new community members 
          to contribute. 
        </p>
        <p>
          <strong><em>Open source is for everyone</strong></em><br/>
          Open source is important. However, maintaining a project can be time consuming and all types of help are welcome.
          Including people with different skillsets to your project will make it even more awesome.
        </p>
        

      </section>

      <section>
        <h2>Inspired by</h2>

        <p>Add here a few links to good articles about open source as well as existing contribute.md docs.</p>
      </section>
      

        

      <section id="footer">
	      <p>2012 - Contribute.md - Linda & Terence
        <script type="text/javascript">
	        document.write('hello@' + 'contribute.md')
	      </script>
      </section>
    </div>
  </div>
